{% extends 'base.html' %}


{% block title %}Add {{ report_type }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ site.name }} Reports</h2>

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" action="{% url 'add_material_report' site_id=site.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Material Report</h2>
        <div class="form-group">
          <label for="date">Date and Time:</label>
          <input type="datetime-local" class="form-control" id="date" name="date" required>
        </div>

        <div class="form-group">
            <label for="material_type">Material Type:</label>
            <select class="form-select" id="material_type" name="material_type" aria-label="Default select example">
              <option selected>Select Material</option>
              <option value="40MM">40MM</option>
              <option value="20MM">20MM</option>
              <option value="10MM">10MM</option>
              <option value="GSB">GSB</option>
              <option value="WMM">WMM</option>
              <option value="3">Grit</option>
              <option value="Crushed Sand">Crushed Sand</option>
              <option value="BC">BC</option>
              <option value="BM">BM</option>
            </select>
        </div>

        <div class="form-group">
            <label for="supplier_name">Supplier Name:</label>
            <select class="form-select" id="supplier_name" name="supplier_name" aria-label="Default select example">
              <option selected>Select Supplier</option>
              <option value="Snehprapash Construction">Snehprapash Construction</option>
              <option value="Sumit Construction">Sumit Construction</option>
              <option value="Sagar Earth Movers">Sagar Earth Movers</option>
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required>
        </div>

        <div class="form-group">
            <label for="unit">Unit:</label>
        <select class="form-select" aria-label="Default select example" id="unit" name="unit" >
            <option selected>Choose Unit</option>
            <option value="Brass">Brass</option>
            <option value="Ton">Ton</option>
            <option value="Nos">Nos</option>
          </select>
        </div>

        <div class="form-group">
            <label for="vehicle_no">Vehicle No:</label>
            <input type="text" class="form-control" id="vehicle_no" name="vehicle_no" required>
        </div>

        <div class="form-group">
            <label for="challan_no">Challan No:</label>
            <input type="text" class="form-control" id="challan_no" name="challan_no" required>
        </div>

        <div class="mb-3">
            <label for="material_image" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="material_image" name="material_image">
        </div>

        <div class="form-group">
            <label for="remark">Remark:</label>
            <textarea class="form-control" id="remark" name="remark" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary m-5">Add Material Report</button>
    </form>
</div>
<h3>Material Reports</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Date</th>
        <th>Material Type</th>
        <th>Supplier Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for material_report in material_reports %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ material_report.date }}</td>
          <td>{{ material_report.material_type }}</td>
          <td>{{ material_report.supplier_name }}</td>
          <td><a href="{% url 'view_material_report' report_id=material_report.id %}">View Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}