{% extends 'base.html' %}

{% block title %}All Sites - SP Construction{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>All Sites</h2>
    <a href="{% url 'add_site' %}" class="btn btn-primary mb-3">Add Site</a>
    {% if sites %}
      <ul>
        {% for site in sites %}
          {% comment %} <li><a href="{% url 'site_detail' site_id=site.id %}">{{ site.name }}</a></li> {% endcomment %}
          <div class="row">
          <div class="col-md-4 mb-4">
            
              <div class="card p-3 shadow-lg" style="width: 18rem;">
                <h5 class="card-title">{{ site.name }}</h5>
                <p class="card-text">Location: {{ site.location }}</p>
                <p class="card-text">Start Date: {{ site.start_date }}</p>
                <a href="{% url 'site_detail' site_id=site.id %}" class="btn btn-success">View Details</a>
              
            </div>
          </div>
        {% endfor %}
      </ul>

    {% else %}
      <p>No sites available.</p>
    {% endif %}
  </div>
{% endblock %}