{% extends 'base.html' %}

{% block title %}{{ site.name }} Reports{% endblock %}

{% block content %}
  <h2>{{ site.name }} Reports</h2>

  <h3>Material Reports</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Material Type</th>
        <th>Supplier Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for material_report in material_reports %}
        <tr>
          <td>{{ material_report.date }}</td>
          <td>{{ material_report.material_type }}</td>
          <td>{{ material_report.supplier_name }}</td>
          <td><a href="{% url 'view_material_report' report_id=material_report.id %}">View Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Machinery Reports</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Report Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for machinery_report in machinery_reports %}
        <tr>
          <td>{{ machinery_report.date }}</td>
          <td>Machinery Report</td>
          <td><a href="{% url 'view_machinery_report' report_id=machinery_report.id %}">View Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Site Expense Reports</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Report Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for report in site_expense_reports %}
        <tr>
          <td>{{ report.date }}</td>
          <td>Site Expense Report</td>
          <td><a href="{% url 'view_site_expense_report' report_id=report.id %}">View Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
